<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c18e8a8f-8cf2-4cb0-9d90-fbf707060a71/resourceGroups/rtest-ai-test/providers/Microsoft.Web/sites/rtest-mcp-web-api</ResourceId>
    <ResourceGroup>rtest-ai-test</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://rtest-mcp-web-api-btb9cghwhxghb9bg.westus3-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>f09157c1-dc05-4ad3-8b09-de0a8dfaaf6c</ProjectGuid>
    <PublishUrl>https://rtest-mcp-web-api-btb9cghwhxghb9bg.scm.westus3-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <EnvironmentName>Development</EnvironmentName>
  </PropertyGroup>
</Project>